In [1]:
import pandas as pd

In [2]:
#exporting all the files created from our codes of webscrapping

df1 = pd.read_excel(r'C:\Users\archi\Test battingv3.xlsx',index_col=0)
df2 = pd.read_excel(r'C:\Users\archi\Test bowlingv3.xlsx',index_col=0)
df3 = pd.read_excel(r'C:\Users\archi\ODI Batsmenv3.xlsx',index_col=0)
df4 = pd.read_excel(r'C:\Users\archi\ODI bowlingv3.xlsx',index_col=0)
df5 = pd.read_excel(r'C:\Users\archi\T20_Battingv3.xlsx',index_col=0)
df6 = pd.read_excel(r'C:\Users\archi\T20_Bowlingv3.xlsx',index_col=0)

In [3]:
outputdf=pd.read_excel(r'C:\Users\archi\finaloutputv1.xlsx')

In [4]:
workdf1=outputdf['Player'].append(df1['Player']).reset_index(drop=False)
workdf2=workdf1['Player'].append(df2['Player']).reset_index(drop=False)
workdf3=workdf2['Player'].append(df3['Player']).reset_index(drop=False)
workdf4=workdf3['Player'].append(df4['Player']).reset_index(drop=False)
workdf5=workdf4['Player'].append(df5['Player']).reset_index(drop=False)
workdf6=workdf5['Player'].append(df6['Player']).reset_index(drop=False)
workdf7=workdf6.drop(['index'],axis=1)
workdf8=workdf7.drop_duplicates(subset=None, keep='first', inplace=False)

In [5]:
workdf8

                     Player
0      SR Tendulkar (INDIA)
1          RT Ponting (AUS)
2            JH Kallis (SA)
3          R Dravid (INDIA)
4             AN Cook (ENG)
...                     ...
14348      Zamir Khan (AFG)
14349        S Zargar (Mex)
14350     Zeshan Arif (Aut)
14351    Ziaur Rahman (AFG)
14352     Zoheb Malek (MLT)

[5773 rows x 1 columns]

In [6]:
#combine22=workdf8.join(df1, rsuffix='_right')
combine222 = workdf8.set_index('Player').join(df1.set_index('Player'))
combine222.columns

Index(['TEST_Span', 'TEST_Matches', 'TEST_Innings', 'TEST_Not-Outs',
       'TEST_RunsMade', 'TESTHighest-Score', 'TEST_Batting_Average',
       'TEST_Hundereds', 'TEST_Fifties', 'TEST_Ducks'],
      dtype='object')

In [ ]:
###### Check again to use merge;;; join not giving complete data

In [7]:
#### merging all the files
res1 = pd.merge(workdf8, df1.drop_duplicates(subset='Player'), how='left', left_on='Player', right_on='Player')
res2 = pd.merge(res1, df2.drop_duplicates(subset='Player'), how='left', left_on='Player', right_on='Player')
res3 = pd.merge(res2, df3.drop_duplicates(subset='Player'), how='left', left_on='Player', right_on='Player')
res4 = pd.merge(res3, df4.drop_duplicates(subset='Player'), how='left', left_on='Player', right_on='Player')
res5 = pd.merge(res4, df5.drop_duplicates(subset='Player'), how='left', left_on='Player', right_on='Player')
combine7 = pd.merge(res5, df6.drop_duplicates(subset='Player'), how='left', left_on='Player', right_on='Player')

In [8]:
combine7

,Player,TEST_Span,TEST_Matches_x,TEST_Innings_x,TEST_Not-Outs,TEST_RunsMade,TESTHighest-Score,TEST_Batting_Average,TEST_Hundereds,TEST_Fifties,...,T20_OVERS,T20_MAIDENS,T20_RUNS_given,T20_WICKETS,T20_BESTFIGURE,T20_BOWL_AVERAGE,T20_ECONOMY,T20_SR,T20_4_WKTS,T20_5_WKTS
0,SR Tendulkar (INDIA),1989-2013,200.0,329.0,33.0,15921.0,248*,53.78,51.0,68.0,...,2.3,0.0,12.0,1.0,1/12,12.00,4.80,15.0,0.0,0.0
1,RT Ponting (AUS),1995-2012,168.0,287.0,29.0,13378.0,257,51.85,41.0,62.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
2,JH Kallis (SA),1995-2013,166.0,280.0,40.0,13289.0,224,55.37,45.0,58.0,...,46.0,1.0,333.0,12.0,4/15,27.75,7.23,23.0,1.0,0.0
3,R Dravid (INDIA),1996-2012,164.0,286.0,32.0,13288.0,270,52.31,36.0,63.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
4,AN Cook (ENG),2006-2018,161.0,291.0,16.0,12472.0,294,45.35,33.0,57.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,Zamir Khan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,0.0,26.0,1.0,1/26,26.00,6.50,24.0,0.0,0.0
5769,S Zargar (Mex),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,22.0,2.0,2/22,11.00,7.33,9.0,0.0,0.0
5770,Zeshan Arif (Aut),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.5,0.0,49.0,6.0,4/10,8.16,6.25,7.8,1.0,0.0
5771,Ziaur Rahman (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,0.0,42.0,2.0,2/42,21.00,10.50,12.0,0.0,0.0
5772,Zoheb Malek (MLT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,28.0,0.0,0,0.00,9.33,0.0,0.0,0.0

In [9]:
combine7.set_axis(['Player','TESTbatting_Span','TESTbatting_Matches','TESTbatting_Innings','TESTbatting_Not-Outs','TESTbatting_RunsMade','TESTbattingHighest-Score','TESTbatting_Average','TESTbatting_Hundereds','TESTbatting_Fifties','TESTbatting_Ducks', 'Testbowling_Span', 'Testbowling_Matches', 'Testbowling_Innings','Testbowling_balls', 'Testbowling_Runs_given', 'Testbowling_wickets','Testbowling_bestbowlingInnings','Testbowling_bestbowlingMatch', 'Testbowling_AVERAGE', 'Testbowling_Economy','Testbowling_Strikerate', 'Testbowling_5_wickets', 'Testbowling_10_wickets', 'ODIbatting_Span', 'ODIbatting_Matches', 'ODIbatting_Innings', 'ODIbatting_Notouts','ODIbatting_RunsMade', 'ODIbatting_Highest-Score', 'ODIbatting_Average','ODIbatting_Balls-Faced', 'ODIbatting_Strikerate', 'ODIbatting_Hundereds','ODIbatting_Fifties', 'ODIbatting_Ducks', 'ODIbowling_Span', 'ODIbowling_Matches', 'ODIbowling_Innings', 'ODIbowling_balls','ODIbowling_Runs_given', 'ODIbowling_wickets', 'ODIbowling_bestbowling', 'ODIbowling_Average','ODIbowling_Economy', 'ODIbowling_Strikerate', 'ODIbowling_4_wickets','ODIbowling_5_wickets', 'T20batting_Span', 'T20batting_Matches', 'T20batting_Innings', 'T20batting_Notouts','T20batting_RunsMade', 'T20batting_HighestScore', 'T20batting_Average','T20batting_BallsFaced', 'T20batting_Strikerate', 'T20batting_Hundereds','T20batting_Fifties', 'T20batting_Ducks', 'T20batting_Fours', 'T20batting_Sixes', 'T20bowling_Span', 'T20bowling_Matches', 'T20bowling_Innings', 'T20bowling_OVERS','T20bowling_MAIDENS', 'T20bowling_RUNS_given', 'T20bowling_WICKETS', 'T20bowlin_bestbowling','T20bowling_AVERAGE','T20bowling_ECONOMY','T20bowling_Strikerate','T20bowling_4_WKTS','T20bowling_5_WKTS'],axis=1,inplace=True)
combine7

,Player,TESTbatting_Span,TESTbatting_Matches,TESTbatting_Innings,TESTbatting_Not-Outs,TESTbatting_RunsMade,TESTbattingHighest-Score,TESTbatting_Average,TESTbatting_Hundereds,TESTbatting_Fifties,...,T20bowling_OVERS,T20bowling_MAIDENS,T20bowling_RUNS_given,T20bowling_WICKETS,T20bowlin_bestbowling,T20bowling_AVERAGE,T20bowling_ECONOMY,T20bowling_Strikerate,T20bowling_4_WKTS,T20bowling_5_WKTS
0,SR Tendulkar (INDIA),1989-2013,200.0,329.0,33.0,15921.0,248*,53.78,51.0,68.0,...,2.3,0.0,12.0,1.0,1/12,12.00,4.80,15.0,0.0,0.0
1,RT Ponting (AUS),1995-2012,168.0,287.0,29.0,13378.0,257,51.85,41.0,62.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
2,JH Kallis (SA),1995-2013,166.0,280.0,40.0,13289.0,224,55.37,45.0,58.0,...,46.0,1.0,333.0,12.0,4/15,27.75,7.23,23.0,1.0,0.0
3,R Dravid (INDIA),1996-2012,164.0,286.0,32.0,13288.0,270,52.31,36.0,63.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
4,AN Cook (ENG),2006-2018,161.0,291.0,16.0,12472.0,294,45.35,33.0,57.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,Zamir Khan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,0.0,26.0,1.0,1/26,26.00,6.50,24.0,0.0,0.0
5769,S Zargar (Mex),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,22.0,2.0,2/22,11.00,7.33,9.0,0.0,0.0
5770,Zeshan Arif (Aut),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.5,0.0,49.0,6.0,4/10,8.16,6.25,7.8,1.0,0.0
5771,Ziaur Rahman (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,0.0,42.0,2.0,2/42,21.00,10.50,12.0,0.0,0.0
5772,Zoheb Malek (MLT),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,28.0,0.0,0,0.00,9.33,0.0,0.0,0.0

In [28]:
#replacing * from highest score which is present in the dataframe.

combine7['TESTbattingHighest-Score'] = combine7['TESTbattingHighest-Score'].str.replace('*','')
combine7['ODIbatting_Highest-Score'] = combine7['ODIbatting_Highest-Score'].str.replace('*','')
combine7['T20batting_HighestScore'] = combine7['T20batting_HighestScore'].str.replace('*','')
combine7=combine7.fillna(0)

combine7
#combine7['TESTbattingHighest-Score'] = combine7['TESTbattingHighest-Score'].str.replace(r"\(.*?\)","")

#df_t20['Player']=df_t20['Player'].str.replace(r"\(.1?\)","")

<ipython-input-28-532752468708>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  combine7['TESTbattingHighest-Score'] = combine7['TESTbattingHighest-Score'].str.replace('*','')
<ipython-input-28-532752468708>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  combine7['ODIbatting_Highest-Score'] = combine7['ODIbatting_Highest-Score'].str.replace('*','')
<ipython-input-28-532752468708>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  combine7['T20batting_HighestScore'] = combine7['T20batting_HighestScore'].str.replace('*','')

,Player,TESTbatting_Span,TESTbatting_Matches,TESTbatting_Innings,TESTbatting_Not-Outs,TESTbatting_RunsMade,TESTbattingHighest-Score,TESTbatting_Average,TESTbatting_Hundereds,TESTbatting_Fifties,...,T20bowling_OVERS,T20bowling_MAIDENS,T20bowling_RUNS_given,T20bowling_WICKETS,T20bowlin_bestbowling,T20bowling_AVERAGE,T20bowling_ECONOMY,T20bowling_Strikerate,T20bowling_4_WKTS,T20bowling_5_WKTS
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248,53.78,51.0,68.0,...,2.3,0.0,12.0,1.0,1/12,12.00,4.80,15.0,0.0,0.0
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41.0,62.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
2,JH Kallis (SA),1995-2013,166,280,40,13289,224,55.37,45.0,58.0,...,46.0,1.0,333.0,12.0,4/15,27.75,7.23,23.0,1.0,0.0
3,R Dravid (INDIA),1996-2012,164,286,32,13288,270,52.31,36.0,63.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33.0,57.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,Zamir Khan (AFG),0,0,0,0,0,0,0.00,0.0,0.0,...,4.0,0.0,26.0,1.0,1/26,26.00,6.50,24.0,0.0,0.0
5769,S Zargar (Mex),0,0,0,0,0,0,0.00,0.0,0.0,...,3.0,0.0,22.0,2.0,2/22,11.00,7.33,9.0,0.0,0.0
5770,Zeshan Arif (Aut),0,0,0,0,0,0,0.00,0.0,0.0,...,7.5,0.0,49.0,6.0,4/10,8.16,6.25,7.8,1.0,0.0
5771,Ziaur Rahman (AFG),0,0,0,0,0,0,0.00,0.0,0.0,...,4.0,0.0,42.0,2.0,2/42,21.00,10.50,12.0,0.0,0.0
5772,Zoheb Malek (MLT),0,0,0,0,0,0,0.00,0.0,0.0,...,3.0,0.0,28.0,0.0,0,0.00,9.33,0.0,0.0,0.0

In [21]:
combine7

,Player,TESTbatting_Span,TESTbatting_Matches,TESTbatting_Innings,TESTbatting_Not-Outs,TESTbatting_RunsMade,TESTbattingHighest-Score,TESTbatting_Average,TESTbatting_Hundereds,TESTbatting_Fifties,...,T20bowling_OVERS,T20bowling_MAIDENS,T20bowling_RUNS_given,T20bowling_WICKETS,T20bowlin_bestbowling,T20bowling_AVERAGE,T20bowling_ECONOMY,T20bowling_Strikerate,T20bowling_4_WKTS,T20bowling_5_WKTS
0,SR Tendulkar (INDIA),1989-2013,200.0,329.0,33.0,15921.0,248*,53.78,51.0,68.0,...,2.3,0.0,12.0,1.0,1/12,12.00,4.80,15.0,0.0,0.0
1,RT Ponting (AUS),1995-2012,168.0,287.0,29.0,13378.0,257,51.85,41.0,62.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
2,JH Kallis (SA),1995-2013,166.0,280.0,40.0,13289.0,224,55.37,45.0,58.0,...,46.0,1.0,333.0,12.0,4/15,27.75,7.23,23.0,1.0,0.0
3,R Dravid (INDIA),1996-2012,164.0,286.0,32.0,13288.0,270,52.31,36.0,63.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
4,AN Cook (ENG),2006-2018,161.0,291.0,16.0,12472.0,294,45.35,33.0,57.0,...,0.0,0.0,0.0,0.0,0,0.00,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,Zamir Khan (AFG),0,0.0,0.0,0.0,0.0,NaN,0.00,0.0,0.0,...,4.0,0.0,26.0,1.0,1/26,26.00,6.50,24.0,0.0,0.0
5769,S Zargar (Mex),0,0.0,0.0,0.0,0.0,NaN,0.00,0.0,0.0,...,3.0,0.0,22.0,2.0,2/22,11.00,7.33,9.0,0.0,0.0
5770,Zeshan Arif (Aut),0,0.0,0.0,0.0,0.0,NaN,0.00,0.0,0.0,...,7.5,0.0,49.0,6.0,4/10,8.16,6.25,7.8,1.0,0.0
5771,Ziaur Rahman (AFG),0,0.0,0.0,0.0,0.0,NaN,0.00,0.0,0.0,...,4.0,0.0,42.0,2.0,2/42,21.00,10.50,12.0,0.0,0.0
5772,Zoheb Malek (MLT),0,0.0,0.0,0.0,0.0,NaN,0.00,0.0,0.0,...,3.0,0.0,28.0,0.0,0,0.00,9.33,0.0,0.0,0.0

In [29]:
#changes columns to int & float as required

combine7['TESTbatting_Matches']=combine7['TESTbatting_Matches'].astype(int)
combine7['TESTbatting_Innings']=combine7['TESTbatting_Innings'].astype(int)
combine7['TESTbatting_Not-Outs']=combine7['TESTbatting_Not-Outs'].astype(int)
combine7['TESTbatting_RunsMade']=combine7['TESTbatting_RunsMade'].astype(int)
combine7['TESTbattingHighest-Score'] = combine7['TESTbattingHighest-Score'].astype(int)
combine7['TESTbatting_Hundereds']=combine7['TESTbatting_Hundereds'].astype(int)
combine7['TESTbatting_Fifties']=combine7['TESTbatting_Fifties'].astype(int)
combine7['TESTbatting_Ducks']=combine7['TESTbatting_Ducks'].astype(int)
combine7['Testbowling_Matches']=combine7['Testbowling_Matches'].astype(int)
combine7['Testbowling_Innings']=combine7['Testbowling_Innings'].astype(int)
combine7['Testbowling_balls']=combine7['Testbowling_balls'].astype(int)
combine7['Testbowling_Runs_given']=combine7['Testbowling_Runs_given'].astype(int)
combine7['Testbowling_wickets']=combine7['Testbowling_wickets'].astype(int)
combine7['Testbowling_5_wickets']=combine7['Testbowling_5_wickets'].astype(int)
combine7['Testbowling_10_wickets']=combine7['Testbowling_10_wickets'].astype(int)
combine7['ODIbatting_Matches']=combine7['ODIbatting_Matches'].astype(int)
combine7['ODIbatting_Innings']=combine7['ODIbatting_Innings'].astype(int)
combine7['ODIbatting_Notouts']=combine7['ODIbatting_Notouts'].astype(int)
combine7['ODIbatting_RunsMade']=combine7['ODIbatting_RunsMade'].astype(int)
combine7['ODIbatting_Highest-Score'] = combine7['ODIbatting_Highest-Score'].astype(int)
combine7['ODIbatting_Balls-Faced']=combine7['ODIbatting_Balls-Faced'].astype(int)
combine7['ODIbatting_Hundereds']=combine7['ODIbatting_Hundereds'].astype(int)
combine7['ODIbatting_Fifties']=combine7['ODIbatting_Fifties'].astype(int)
combine7['ODIbatting_Ducks']=combine7['ODIbatting_Ducks'].astype(int)
combine7['ODIbowling_Matches']=combine7['ODIbowling_Matches'].astype(int)
combine7['ODIbowling_Innings']=combine7['ODIbowling_Innings'].astype(int)
combine7['ODIbowling_balls']=combine7['ODIbowling_balls'].astype(int)
combine7['ODIbowling_Runs_given']=combine7['ODIbowling_Runs_given'].astype(int)
combine7['ODIbowling_wickets']=combine7['ODIbowling_wickets'].astype(int)
combine7['ODIbowling_4_wickets']=combine7['ODIbowling_4_wickets'].astype(int)
combine7['ODIbowling_5_wickets']=combine7['ODIbowling_5_wickets'].astype(int)
combine7['T20batting_Matches']=combine7['T20batting_Matches'].astype(int)
combine7['T20batting_Innings']=combine7['T20batting_Innings'].astype(int)
combine7['T20batting_Notouts']=combine7['T20batting_Notouts'].astype(int)
combine7['T20batting_RunsMade']=combine7['T20batting_RunsMade'].astype(int)
combine7['T20batting_BallsFaced']=combine7['T20batting_BallsFaced'].astype(int)
combine7['T20batting_HighestScore'] = combine7['T20batting_HighestScore'].astype(int)
combine7['T20batting_Hundereds']=combine7['T20batting_Hundereds'].astype(int)
combine7['T20batting_Fifties']=combine7['T20batting_Fifties'].astype(int)
combine7['T20batting_Ducks']=combine7['T20batting_Ducks'].astype(int)
combine7['T20batting_Fours']=combine7['T20batting_Fours'].astype(int)
combine7['T20batting_Sixes']=combine7['T20batting_Sixes'].astype(int)
combine7['T20bowling_Matches']=combine7['T20bowling_Matches'].astype(int)
combine7['T20bowling_Innings']=combine7['T20bowling_Innings'].astype(int)
combine7['T20bowling_OVERS']=combine7['T20bowling_OVERS'].astype(int)
combine7['T20bowling_MAIDENS']=combine7['T20bowling_MAIDENS'].astype(int)
combine7['T20bowling_RUNS_given']=combine7['T20bowling_RUNS_given'].astype(int)
combine7['T20bowling_WICKETS']=combine7['T20bowling_WICKETS'].astype(int)
combine7['T20bowling_4_WKTS']=combine7['T20bowling_4_WKTS'].astype(int)
combine7['T20bowling_5_WKTS']=combine7['T20bowling_5_WKTS'].astype(int)
combine7['TESTbatting_Average'] = pd.to_numeric(combine7['TESTbatting_Average'], errors='coerce')
combine7['Testbowling_AVERAGE'] = pd.to_numeric(combine7['Testbowling_AVERAGE'], errors='coerce')
combine7['ODIbatting_Average'] = pd.to_numeric(combine7['ODIbatting_Average'], errors='coerce')
combine7['T20batting_Average'] = pd.to_numeric(combine7['T20batting_Average'], errors='coerce')
combine7['T20bowling_AVERAGE'] = pd.to_numeric(combine7['T20bowling_AVERAGE'], errors='coerce')
combine7['Testbowling_Strikerate'] = pd.to_numeric(combine7['Testbowling_Strikerate'], errors='coerce')
combine7['ODIbatting_Strikerate'] = pd.to_numeric(combine7['ODIbatting_Strikerate'], errors='coerce')
combine7['ODIbowling_Strikerate'] = pd.to_numeric(combine7['ODIbowling_Strikerate'], errors='coerce')
combine7['T20batting_Strikerate'] = pd.to_numeric(combine7['T20batting_Strikerate'], errors='coerce')
combine7['ODIbowling_Average'] = pd.to_numeric(combine7['ODIbowling_Average'], errors='coerce')
combine7['Testbowling_Economy'] = pd.to_numeric(combine7['Testbowling_Economy'], errors='coerce')
combine7['ODIbowling_Economy'] = pd.to_numeric(combine7['ODIbowling_Economy'], errors='coerce')
combine7['T20bowling_ECONOMY'] = pd.to_numeric(combine7['T20bowling_ECONOMY'], errors='coerce')
combine7['T20bowling_Strikerate'] = pd.to_numeric(combine7['T20bowling_Strikerate'], errors='coerce')

In [30]:
combine7

,Player,TESTbatting_Span,TESTbatting_Matches,TESTbatting_Innings,TESTbatting_Not-Outs,TESTbatting_RunsMade,TESTbattingHighest-Score,TESTbatting_Average,TESTbatting_Hundereds,TESTbatting_Fifties,...,T20bowling_OVERS,T20bowling_MAIDENS,T20bowling_RUNS_given,T20bowling_WICKETS,T20bowlin_bestbowling,T20bowling_AVERAGE,T20bowling_ECONOMY,T20bowling_Strikerate,T20bowling_4_WKTS,T20bowling_5_WKTS
0,SR Tendulkar (INDIA),1989-2013,200,329,33,15921,248,53.78,51,68,...,2,0,12,1,1/12,12.00,4.80,15.0,0,0
1,RT Ponting (AUS),1995-2012,168,287,29,13378,257,51.85,41,62,...,0,0,0,0,0,0.00,0.00,0.0,0,0
2,JH Kallis (SA),1995-2013,166,280,40,13289,224,55.37,45,58,...,46,1,333,12,4/15,27.75,7.23,23.0,1,0
3,R Dravid (INDIA),1996-2012,164,286,32,13288,270,52.31,36,63,...,0,0,0,0,0,0.00,0.00,0.0,0,0
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,...,0,0,0,0,0,0.00,0.00,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5768,Zamir Khan (AFG),0,0,0,0,0,0,0.00,0,0,...,4,0,26,1,1/26,26.00,6.50,24.0,0,0
5769,S Zargar (Mex),0,0,0,0,0,0,0.00,0,0,...,3,0,22,2,2/22,11.00,7.33,9.0,0,0
5770,Zeshan Arif (Aut),0,0,0,0,0,0,0.00,0,0,...,7,0,49,6,4/10,8.16,6.25,7.8,1,0
5771,Ziaur Rahman (AFG),0,0,0,0,0,0,0.00,0,0,...,4,0,42,2,2/42,21.00,10.50,12.0,0,0
5772,Zoheb Malek (MLT),0,0,0,0,0,0,0.00,0,0,...,3,0,28,0,0,0.00,9.33,0.0,0,0

In [31]:
#Adding Teams column
combine7['Country/Teams']=combine7['Player'].apply(lambda st: st[st.find("(")+1:st.find(")")])
#Moving it next to Player column
column_to_move = combine7.pop('Country/Teams')
combine7.insert(1, "Country/Teams", column_to_move)
#Remove the parenthesis & data inside it in Player column
combine7['Player'] = combine7['Player'].str.replace(r"\([^()]*\)","")

<ipython-input-31-5bfb22e66c90>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  combine7['Player'] = combine7['Player'].str.replace(r"\([^()]*\)","")

In [109]:
combine7

,Player,Country/Teams,TESTbatting_Span,TESTbatting_Matches,TESTbatting_Innings,TESTbatting_Not-Outs,TESTbatting_RunsMade,TESTbattingHighest-Score,TESTbatting_Average,TESTbatting_Hundereds,...,T20bowling_OVERS,T20bowling_MAIDENS,T20bowling_RUNS_given,T20bowling_WICKETS,T20bowlin_bestbowling,T20bowling_AVERAGE,T20bowling_ECONOMY,T20bowling_Strikerate,T20bowling_4_WKTS,T20bowling_5_WKTS
0,SR Tendulkar,INDIA,1989-2013,200,329,33,15921,248*,53.78,51,...,354,3,2366,119,5/20,19.88,6.67,17.8,5,1
1,RT Ponting,AUS,1995-2012,168,287,29,13378,257,51.85,41,...,332,2,2729,111,5/18,24.58,8.19,17.9,1,1
2,JH Kallis,SA,1995-2013,166,280,40,13289,224,55.37,45,...,299,1,2225,107,5/6,20.79,7.42,16.8,1,2
3,R Dravid,INDIA,1996-2012,164,286,32,13288,270,52.31,36,...,219,1,1357,105,5/3,12.92,6.18,12.5,4,2
4,AN Cook,ENG,2006-2018,161,291,16,12472,294,45.35,33,...,361,4,2396,98,4/11,24.44,6.63,22.1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14348,Zamir Khan,AFG,0,0,0,0,0,0,0.00,0,...,0,0,0,0,0,0.00,0.00,0.0,0,0
14349,S Zargar,Mex,0,0,0,0,0,0,0.00,0,...,0,0,0,0,0,0.00,0.00,0.0,0,0
14350,Zeshan Arif,Aut,0,0,0,0,0,0,0.00,0,...,0,0,0,0,0,0.00,0.00,0.0,0,0
14351,Ziaur Rahman,AFG,0,0,0,0,0,0,0.00,0,...,0,0,0,0,0,0.00,0.00,0.0,0,0
14352,Zoheb Malek,MLT,0,0,0,0,0,0,0.00,0,...,0,0,0,0,0,0.00,0.00,0.0,0,0

In [32]:
combine7.to_excel('Final_Cricketer Outputv6.xlsx')

In [33]:
combine7.to_json('Finalcricketersfilev6.json', orient = 'split', compression = 'infer', index = 'true')