In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time

In [9]:
#Loading the webpage
url = 'https://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;filter=advanced;orderby=wickets;template=results;type=bowling'
header = {'User Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.81 Safari/537.36'}
r = requests.get(url) #fetching the url
soup = BeautifulSoup(r.content,'lxml') #getting the content
#print(soup.prettify()) #checking the data
Player_table = soup.find_all("table",class_ = 'engineTable')[2] #getting table from page

In [10]:
#Creating a template to extract data from the table in webpage as per details present on page

for name in Player_table.find_all('tbody'):
    rows = name.find_all('tr')
    for row in rows:
        player = row.find('td',class_ = 'left').text
        span = row.find_all('td')[1].text
        mat = row.find_all('td')[2].text
        inns = row.find_all('td')[3].text
        balls = row.find_all('td')[4].text
        runs = row.find_all('td')[5].text
        Wkts = row.find_all('td')[6].text
        BBI = row.find_all('td')[7].text
        BBM = row.find_all('td')[8].text
        Ave = row.find_all('td')[9].text
        Econ = row.find_all('td')[10].text
        SR = row.find_all('td')[11].text
        fivewickets = row.find_all('td')[12].text
        tenwickets = row.find_all('td')[13].text
        
        
        
        #Storing it in a dictionary
        Cricketers = {'Player':player,"Span":span,"testMatches":mat,"Innings":inns,"Balls":balls,"Runs":runs,"Wkts":Wkts,
                     "BBI":BBI,"BBM":BBM,"AVG":Ave,"Economy":Econ,"Strikerate":SR,"5":fivewickets,"10":tenwickets}
       # print(Cricketers)

In [11]:
#Assigning an empty list to store all dictionaries of players

Cricketers_List = []

#Automating scrapping through different pages[the code has only first 2 page loop] by using a for loop and an f string edit in the link.

for page in range(1,63):  # 62 pages thus taken 63
    #class changed to 1 as it is testmatched from website, type=bowling
    source = requests.get(f'https://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;filter=advanced;orderby=wickets;page={page};template=results;type=bowling')
    
    soup = BeautifulSoup(source.content,'lxml')
    Player_table = soup.find_all("table",class_ = 'engineTable')[2]
    
    #Code from the above cell which builds table structure
    
    for name in Player_table.find_all('tbody'):
        rows = name.find_all('tr')
        for row in rows:  # using [] as per the table present on website
            player = row.find('td',class_ = 'left').text
            span = row.find_all('td')[1].text
            mat = row.find_all('td')[2].text
            inns = row.find_all('td')[3].text
            balls = row.find_all('td')[4].text
            runs = row.find_all('td')[5].text
            Wkts = row.find_all('td')[6].text
            BBI = row.find_all('td')[7].text
            BBM = row.find_all('td')[8].text
            Ave = row.find_all('td')[9].text
            Econ = row.find_all('td')[10].text
            SR = row.find_all('td')[11].text
            fivewickets = row.find_all('td')[12].text
            tenwickets = row.find_all('td')[13].text
        
        
        #Storing it in a dictionary
            Cricketers = {'Player':player,"Span":span,"testMatches":mat,"Innings":inns,"Balls":balls,"Runs":runs,"Wkts":Wkts,
                     "BBI":BBI,"BBM":BBM,"AVG":Ave,"Economy":Econ,"Strikerate":SR,"5":fivewickets,"10":tenwickets}
            Cricketers_List.append(Cricketers)
    
          #  print('Saving: ', Cricketers['Player'])

           # time.sleep(3)

In [12]:
#Converting to DataFrame using pandas [sorted by number of runs by default]

df_bowling_test = pd.DataFrame(Cricketers_List)
df_bowling_test

,Player,Span,ODIMatches,Innings,Balls,Runs,Wkts,BBI,BBM,AVG,Economy,Strikerate,5,10
0,M Muralidaran (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2022,169,314,36396,17014,640,7/42,11/71,26.58,2.80,56.8,31,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,TJ Zoehrer (AUS),1986-1987,10,-,-,-,-,-,-,-,-,-,-,-
3077,K Zondo (SA),2022-2022,1,-,-,-,-,-,-,-,-,-,-,-
3078,Zubayr Hamza (SA),2019-2022,6,-,-,-,-,-,-,-,-,-,-,-
3079,Zulqarnain (PAK),1986-1986,3,-,-,-,-,-,-,-,-,-,-,-
3080,Zulqarnain Haider (PAK),2010-2010,1,-,-,-,-,-,-,-,-,-,-,-

In [15]:
df_bowling_test.set_axis(['Player','Test_Span','TEST_Matches','TEST_Innings','TEST_ballsbowled','TEST_Runs_given','TEST_wickets','TEST_bestbowlinginnings','TEST_bestbowlingmatch','TEST_BOWL_AVERAGE','TEST_Economy','TEST_Bowling_Strikerate','TEST_5_wickets','TEST_10_wickets'],axis=1,inplace=True)

In [16]:
df_bowling_test.to_csv("test Bowling.csv")

In [17]:
df_bowling_test

,Player,Test_Span,TEST_Matches,TEST_Innings,TEST_ballsbowled,TEST_Runs_given,TEST_wickets,TEST_bestbowlinginnings,TEST_bestbowlingmatch,TEST_BOWL_AVERAGE,TEST_Economy,TEST_Bowling_Strikerate,TEST_5_wickets,TEST_10_wickets
0,M Muralidaran (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2022,169,314,36396,17014,640,7/42,11/71,26.58,2.80,56.8,31,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,TJ Zoehrer (AUS),1986-1987,10,-,-,-,-,-,-,-,-,-,-,-
3077,K Zondo (SA),2022-2022,1,-,-,-,-,-,-,-,-,-,-,-
3078,Zubayr Hamza (SA),2019-2022,6,-,-,-,-,-,-,-,-,-,-,-
3079,Zulqarnain (PAK),1986-1986,3,-,-,-,-,-,-,-,-,-,-,-
3080,Zulqarnain Haider (PAK),2010-2010,1,-,-,-,-,-,-,-,-,-,-,-

In [18]:
df_bowling_test=df_bowling_test.replace('-', 0)
df_bowling_test

,Player,Test_Span,TEST_Matches,TEST_Innings,TEST_ballsbowled,TEST_Runs_given,TEST_wickets,TEST_bestbowlinginnings,TEST_bestbowlingmatch,TEST_BOWL_AVERAGE,TEST_Economy,TEST_Bowling_Strikerate,TEST_5_wickets,TEST_10_wickets
0,M Muralidaran (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2022,169,314,36396,17014,640,7/42,11/71,26.58,2.80,56.8,31,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,TJ Zoehrer (AUS),1986-1987,10,0,0,0,0,0,0,0,0,0,0,0
3077,K Zondo (SA),2022-2022,1,0,0,0,0,0,0,0,0,0,0,0
3078,Zubayr Hamza (SA),2019-2022,6,0,0,0,0,0,0,0,0,0,0,0
3079,Zulqarnain (PAK),1986-1986,3,0,0,0,0,0,0,0,0,0,0,0
3080,Zulqarnain Haider (PAK),2010-2010,1,0,0,0,0,0,0,0,0,0,0,0

In [19]:
df_bowling_test.dtypes

Player                     object
Test_Span                  object
TEST_Matches               object
TEST_Innings               object
TEST_ballsbowled           object
TEST_Runs_given            object
TEST_wickets               object
TEST_bestbowlinginnings    object
TEST_bestbowlingmatch      object
TEST_BOWL_AVERAGE          object
TEST_Economy               object
TEST_Bowling_Strikerate    object
TEST_5_wickets             object
TEST_10_wickets            object
dtype: object

In [20]:
#'Player','Test_Span','TEST_Matches','TEST_Innings','TEST_ballsbowled','TEST_Runs_given','TEST_wickets',
#'TEST_bestbowling',
#'TEST_bowlingAvg','TEST_Economyrate','TEST_Bowling_Strikerate','TEST_4_wickets','TEST_5_wickets'

df_bowling_test['TEST_Matches']=df_bowling_test['TEST_Matches'].astype(int)
df_bowling_test['TEST_Innings']=df_bowling_test['TEST_Innings'].astype(int)
df_bowling_test['TEST_ballsbowled']=df_bowling_test['TEST_ballsbowled'].astype(int)
df_bowling_test['TEST_Runs_given']=df_bowling_test['TEST_Runs_given'].astype(int)
df_bowling_test['TEST_wickets']=df_bowling_test['TEST_wickets'].astype(int)
#df_bowling_test['TEST_5_wickets']=df_bowling_test['TEST_5_wickets'].astype(int)
df_bowling_test['TEST_10_wickets']=df_bowling_test['TEST_10_wickets'].astype(int)
df_bowling_test["TEST_BOWL_AVERAGE"] = pd.to_numeric(df_bowling_test['TEST_BOWL_AVERAGE'], errors='coerce')
df_bowling_test["TEST_Economy"] = pd.to_numeric(df_bowling_test['TEST_Economy'], errors='coerce')
df_bowling_test["TEST_Bowling_Strikerate"] = pd.to_numeric(df_bowling_test['TEST_Bowling_Strikerate'], errors='coerce')
df_bowling_test["TEST_5_wickets"] = pd.to_numeric(df_bowling_test['TEST_5_wickets'], errors='coerce') # converted 5 wickets to float first then to int as was getting error invalid literal for int() with base 10: '55.0'
df_bowling_test['TEST_5_wickets']=df_bowling_test['TEST_5_wickets'].astype(int)
df_bowling_test.dtypes

Player                      object
Test_Span                   object
TEST_Matches                 int32
TEST_Innings                 int32
TEST_ballsbowled             int32
TEST_Runs_given              int32
TEST_wickets                 int32
TEST_bestbowlinginnings     object
TEST_bestbowlingmatch       object
TEST_BOWL_AVERAGE          float64
TEST_Economy               float64
TEST_Bowling_Strikerate    float64
TEST_5_wickets               int32
TEST_10_wickets              int32
dtype: object

In [21]:
df_bowling_test

,Player,Test_Span,TEST_Matches,TEST_Innings,TEST_ballsbowled,TEST_Runs_given,TEST_wickets,TEST_bestbowlinginnings,TEST_bestbowlingmatch,TEST_BOWL_AVERAGE,TEST_Economy,TEST_Bowling_Strikerate,TEST_5_wickets,TEST_10_wickets
0,M Muralidaran (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2022,169,314,36396,17014,640,7/42,11/71,26.58,2.80,56.8,31,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,TJ Zoehrer (AUS),1986-1987,10,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3077,K Zondo (SA),2022-2022,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3078,Zubayr Hamza (SA),2019-2022,6,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3079,Zulqarnain (PAK),1986-1986,3,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3080,Zulqarnain Haider (PAK),2010-2010,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0

In [22]:
df_bowling_test.to_excel('Test bowlingv2.xlsx')

In [2]:
#exporting the file as not running the complete code again
df_bowling2= pd.read_excel('Test bowlingv2.xlsx')

In [5]:
df_bowling2

,Unnamed: 0,Player,Test_Span,TEST_Matches,TEST_Innings,TEST_ballsbowled,TEST_Runs_given,TEST_wickets,TEST_bestbowlinginnings,TEST_bestbowlingmatch,TEST_BOWL_AVERAGE,TEST_Economy,TEST_Bowling_Strikerate,TEST_5_wickets,TEST_10_wickets
0,0,M Muralidaran (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,2,JM Anderson (ENG),2003-2022,169,314,36396,17014,640,7/42,11/71,26.58,2.80,56.8,31,3
3,3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,3076,TJ Zoehrer (AUS),1986-1987,10,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3077,3077,K Zondo (SA),2022-2022,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3078,3078,Zubayr Hamza (SA),2019-2022,6,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3079,3079,Zulqarnain (PAK),1986-1986,3,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3080,3080,Zulqarnain Haider (PAK),2010-2010,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0

In [6]:
#dropping the unnamed index coming
df_bowling2=df_bowling2.drop(['Unnamed: 0'],axis=1)
df_bowling2

,Player,Test_Span,TEST_Matches,TEST_Innings,TEST_ballsbowled,TEST_Runs_given,TEST_wickets,TEST_bestbowlinginnings,TEST_bestbowlingmatch,TEST_BOWL_AVERAGE,TEST_Economy,TEST_Bowling_Strikerate,TEST_5_wickets,TEST_10_wickets
0,M Muralidaran (ICC/SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2022,169,314,36396,17014,640,7/42,11/71,26.58,2.80,56.8,31,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,TJ Zoehrer (AUS),1986-1987,10,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3077,K Zondo (SA),2022-2022,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3078,Zubayr Hamza (SA),2019-2022,6,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3079,Zulqarnain (PAK),1986-1986,3,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3080,Zulqarnain Haider (PAK),2010-2010,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0

In [7]:
#As checked we are finding 2 major errors in player column.. 1st is some player are having name+(numericvalue)+(countryname)
#2nd having ICC/World/Asia/Afr along with country name
#1st removing (numeric data)
df_bowling2['Player']=df_bowling2['Player'].str.replace(r"\(.1?\)","")
df_bowling2['Player']=df_bowling2['Player'].str.replace(r"\(.2?\)","")
df_bowling2['Player']=df_bowling2['Player'].str.replace(r"\(.3?\)","")

<ipython-input-7-300e0c4a4b82>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_bowling2['Player']=df_bowling2['Player'].str.replace(r"\(.1?\)","")
<ipython-input-7-300e0c4a4b82>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df_bowling2['Player']=df_bowling2['Player'].str.replace(r"\(.2?\)","")
<ipython-input-7-300e0c4a4b82>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_bowling2['Player']=df_bowling2['Player'].str.replace(r"\(.3?\)","")

In [9]:
#2nd replacing ICC/World/Asia/Afr from the country name

df_bowling2= df_bowling2.replace('ICC/', '', regex=True)
df_bowling2= df_bowling2.replace('/ICC', '', regex=True)
df_bowling2= df_bowling2.replace('/Afr', '', regex=True)
df_bowling2= df_bowling2.replace('Afr/', '', regex=True)
df_bowling2= df_bowling2.replace('/Asia', '', regex=True)  
df_bowling2= df_bowling2.replace('Asia/', '', regex=True)  
df_bowling2= df_bowling2.replace('/World', '', regex=True)

In [12]:
df_bowling2

,Player,Test_Span,TEST_Matches,TEST_Innings,TEST_ballsbowled,TEST_Runs_given,TEST_wickets,TEST_bestbowlinginnings,TEST_bestbowlingmatch,TEST_BOWL_AVERAGE,TEST_Economy,TEST_Bowling_Strikerate,TEST_5_wickets,TEST_10_wickets
0,M Muralidaran (SL),1992-2010,133,230,44039,18180,800,9/51,16/220,22.72,2.47,55.0,67,22
1,SK Warne (AUS),1992-2007,145,273,40705,17995,708,8/71,12/128,25.41,2.65,57.4,37,10
2,JM Anderson (ENG),2003-2022,169,314,36396,17014,640,7/42,11/71,26.58,2.80,56.8,31,3
3,A Kumble (INDIA),1990-2008,132,236,40850,18355,619,10/74,14/149,29.65,2.69,65.9,35,8
4,GD McGrath (AUS),1993-2007,124,243,29248,12186,563,8/24,10/27,21.64,2.49,51.9,29,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,TJ Zoehrer (AUS),1986-1987,10,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3077,K Zondo (SA),2022-2022,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3078,Zubayr Hamza (SA),2019-2022,6,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3079,Zulqarnain (PAK),1986-1986,3,0,0,0,0,0,0,0.00,0.00,0.0,0,0
3080,Zulqarnain Haider (PAK),2010-2010,1,0,0,0,0,0,0,0.00,0.00,0.0,0,0

In [15]:
df_bowling2.to_excel('Test bowlingv3.xlsx')